body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 700px;
  height: 500px;
  margin: 10% auto;
  background-color: #1b244a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content {
  /* padding: 50px; */
  display: flex;
  justify-content: space-around;
  font-family: Verdana;
  color: #eee;
  font-weight: bold;
  font-size: 40px;
}
.result {
  background-color: black;
  width: 170px;
  height: 140px;
  text-align: center;
  font-family: "Cursed Timer ULiL", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #f94f6d;
  font-size: 90px;
}
.btns {
  width: 155px;
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  font-family: "Cursed Timer ULiL", sans-serif;
}
.btns button {
  width: 45px;
  background-color: transparent;
  font-size: 18px;
  padding: 10px 5px 5px;
  text-align: center;
  color: #9aabd8;
  border-color: #9aabd8;
}
.reset {
  text-align: center;
  width: 200px;
  margin: 20px auto;
}
#reset {
  width: 150px;
}
button:hover {
  background-color: #9aabd8;
  color: #1b244a;
  border-color: #1b244a;
}
