body {
  box-sizing: border-box;
  margin: 0;
  background-color: #1c1c1c;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.container {
  background-color: #f4f4f4;
  width: 550px;
  padding: 25px;
  margin: 5% 0;
}
.header {
  background-color: #6943ff;
  height: 285px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: -4.55%;
  padding: 20px;
}
.header h1 {
  font-family: "Inter", sans-serif;
  color: white;
}
.header input {
  width: 117px;
  height: 83px;
  background-color: #6943ff;
  border: 2px solid #b295ff;
  outline: none;
  text-align: center;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 800;
  font-size: 60px;
}
.header #convert-el {
  width: 117px;
  height: 42px;
  color: #3d3d3d;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  border: none;
}
.res {
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */

  margin: 11% 0 5%;
}
.card {
  background-color: #fff;
  margin: 2% 0;
  text-align: center;
  padding: 5px 0;
}
.card h2 {
  color: #5a537b;
  font-weight: 600;
}
.card p {
  font-weight: normal;
  color: #353535;
}

.theme-icon {
  width: 2.5rem;
  height: 2.5rem;

  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: rgba(226, 232, 240, 0);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1em;

  background-color: #6943ff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: #1f2937;
  margin: 0 !important;
}

:root:not(.light) .theme-icon .fa-sun {
  display: none;
}

:root:not(.light) .theme-icon .fa-moon {
  display: inline-block;
}

:root.light .theme-icon .fa-sun {
  display: inline-block;
  color: #ffffff;
}
:root:not(.light) .container {
  background-color: #1f2937;
}
:root:not(.light) .card {
  background-color: #273549;
  color: #ccc1ff;
}
:root:not(.light) .card h2 {
  color: #ccc1ff;
}
:root:not(.light) .card p {
  color: #fff;
}
:root.light .theme-icon .fa-moon {
  display: none;
}
button #switch {
  display: inline;
}
.switch {
  align-items: end;
  margin: -1% !important;
}
