body {
    margin: 20px;
    background-color: #293341;
    
    font-family: "Courier New", Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 60%;
        border: 3px solid #e6ddd6;
        transition: 0.4s all ease-in-out;

}
.avatar:hover{
    transform: scale(1.1);
}

.card {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
  
    text-align: center;
    background: #fcdc59;
    color:#293341;
    border: 6px solid #e6ddd6;
    border-radius: 10px;
        
}

.border-blue {
    border: 1px dotted blue;
}


a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}