html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  width: 375px;
  /* height: 1767px; */
  background: #ededed;
  margin: 20px auto;
}
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid #c6c6c6;
}
header img {
  /* width: 100%; */
}
header img {
  width: 145px;
  height: 50px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card {
  background-color: #fff;
  margin-bottom: 20px;
}
.card-intro {
  display: flex;
  padding: 0px 10px;
}
.card-intro img {
  margin: 20px 20px 15px 10px;
}
.card-intro div {
  margin: 20px 0px;
}
.card-intro h3 {
  font-weight: 700;
}
.card-intro h3,
.card-intro p {
  margin: 0;
}
.avatar {
  width: 40px;
  height: 40px;
}
.main-img img {
  width: 100%;
}
.main-img {
  position: relative;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.img-row {
  display: flex;
}
.img-row i {
  width: 30px;
  height: 30px;
  margin: 15px 10px 15px 0px;
  padding: 10px;
}
.end {
  /* padding: 10px; */
  padding-bottom: 10px;
}
.end h3 {
  margin: 0;
}
span.user-name {
  font-weight: 700;
}

.likes-count {
  padding: 5px 10px;
}
.prof-comment {
  padding: 0px 10px;
}
.main {
  background-image: url("images/love.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  border-radius: 5px;
  padding: 10px;
}

.heart {
  color: red;
}
